{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="Author" content="Calvin Condie">
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Inria Sans' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet'>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

        <script src="{% static 'script.js' %}"></script>
        <script>

            window.onload = function () {
                // Load stored values from local storage
                var storedBio = localStorage.getItem('bio');
                var storedLinks = localStorage.getItem('links');
                var storedUser = localStorage.getItem('user');

                // Populate the elements with the stored values
                document.getElementById('bio').textContent = storedBio || 'User Bio';
                document.getElementById('links').textContent = storedLinks || 'Add some contact points';
                document.getElementById('name').textContent = storedUser || 'User';
            };
            
        </script>
    </head>
<body>

    <div class="sidenav">
        <li style="text-align:center; padding-top: 20px; padding-bottom: 10px; font-size:30px;">
            DataSafe
        </li>
        <li>
            <a href="{% url 'home' %}">Home</a>
        </li>
        <li>
            <a href="{% url 'intro' %}">Creating a data card</a>
        </li>
        <li>
            <a class="active" href="{% url 'account' %}">Account</a>
        </li>
        <li>
            <a href="{% url 'browse' %}">Information</a>
        </li>
        <li>
            <a href="{% url 'saved' %}">Saved Cards</a>
        </li>
        {% if request.user.is_authenticated %}

        <li>
            <a id="logoutButton" href="#">Logout</a>
        </li>
    </div>
    <form id="logoutForm" method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" style="display: none;"></button>
    </form>
    {% else %}
        <li>
            <a id="loginButton" href="{% url 'login' %}">Login</a>
        </li>
    </div>
    {% endif %}

    {% if request.user.is_authenticated %}

    <div class="userInfo">
        <h3 style="position: relative; top: 0px; left: 0px;">Welcome, <span id="name" style="position: relative; top: 5px;"  class="editable">{{ user_name }}</span></h3>

        <h3 style="position: relative; left: 40%; top: -40px;">Where to find me: </h3>
        <span style="position: relative; left: 40%; top: -40px;" id="links" class="editable" placeholder="Add some contact points">Add some contact points</span>

        <h3 style="position: relative;">Bio</h3>
        <span style="position: relative; top: -10px" id="bio" contenteditable="true" class="editable" aria-placeholder="User bio">User Bio</span>

        <div id="buttonsContainer" style="position: relative; top: -50px; margin-left: 45%;">
            <button id="editButton" onclick="toggleEditMode()">Edit Information</button>
            <button id="saveButton" style="display: none;" onclick="saveInfo()">Save Information</button>
        </div>
    </div>
    <div class="userCards" id="userCardsArea">
        <h3><u>Your Saved Data</u></h3>
        <div id="userCards">
            <!-- Display the first 3 items in the library as links -->
            <ul id="savedDataList">
                <!-- Loop through saved cards and display them as links -->
                {% for savedCard in userSavedCards %}
                    <li><a href="{% url 'complete' identifier=savedCard %}">{{ savedCard }}</a></li>
                {% endfor %}
            </ul>
            <p><a href="{% url 'saved' %}">Explore All Saved Data</a></p>
        </div>
    </div>

    <div class="savedCards">
        <h3><u>Saved Cards</u></h3>
    </div>

    <div class="footer" style="font-family: 'Inria Sans'; position: relative;">
        <a><u>Contact us:</u> <br> datasafecontact@gmail.com <br> DataSafe.twitter </a>
        <a><u>Having Probelems?</u> <br> Find our FAQs here: <br> DataSafeFAQs.com</a>
        <a><u>Other useful links:</u> <br> linktoethicspaper.com <br> otherlink.com</a>
    </div>


    {% else %}

    <div id="loginContainer">
        <a style="color: black; padding: 8px; background-color: white; border-color: black; border-radius: 8px; border-style: solid;margin-right: 30%;"  href="{% url 'login' %}">Login</a>
    </div>

    <div class="userInfo" style="top: 10px;">
        <h3 style="position: relative; top: 0px; left: 0px;">Welcome, User</h3>
        <p style="position: relative; width: 200px;">We see that you are not logged in. If you wish to do so click the button at the top of the page. Otherwise, if you'd like to create an account, click the button below</p>

        <h3 style="position: relative; left: 40%; top: -190px;">Where to find me: </h3>
        <p style="position: relative; left: 40%; top: -190px; width: 200px;">Once logged in, you can add information to your account</p>

        <h3 style="position: relative; left: 40%; top: -180px;">Bio</h3>
        <p style="position: relative; top: -180px; left: 40%; width: 200px;">You can add points about who you are, what area you work in, interests and so forth</p>

    </div>

    <div class="userCards" id="userCardsArea" style="top: -90px; width: 450px;">
        <h3><u>Your Saved Data</u></h3>
        <p>You can even save cards to your account when they are finished or to continue working on them later. They'd be saved here.</p>
    </div>

    <div class="greenButtons"  style="height: 40px; width: 200px; text-align: center; padding: 30px;position: relative; top: -100px; padding-bottom: 50px;">
        <a href="{% url 'register' %}" style="color: black;font-family: Inria Sans; font-size: 25px;">Register a new account here</a>    
    </div>

    <div class="footer" style="font-family: 'Inria Sans'; position: fixed;">
        <a><u>Contact us:</u> <br> datasafecontact@gmail.com <br> DataSafe.twitter </a>
        <a><u>Having Probelems?</u> <br> Find our FAQs here: <br> DataSafeFAQs.com</a>
        <a><u>Other useful links:</u> <br> linktoethicspaper.com <br> otherlink.com</a>
    </div>

    {% endif %}


    <script src="{% static 'script.js' %}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
    // Get the logout link
    const logoutLink = document.getElementById('logout-link');

    // Add click event listener to the logout link
    logoutLink.addEventListener('click', function(event) {
        event.preventDefault(); // Prevent default link behavior

        // Show confirmation popup
        const confirmed = confirm('Are you sure you want to log out?');
        
        // If user confirms logout
        if (confirmed) {
            // Make AJAX request to logout URL
            fetch('/logout/', {
                method: 'POST', // or 'GET'
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}', // Include CSRF token
                },
                // Redirect to home page after successful logout
            }).then(() => {
                window.location.href = '/';
            }).catch(error => {
                console.error('Error:', error);
            });
        }
    });
});
    </script>
</body>
</html>