{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="Author" content="Calvin Condie">
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Inria Sans' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet'>
        <script src="{% static 'script.js' %}"></script>
        <style>
        </style>
    </head>
<body>

<div class="sidenav" style="z-index: 1;"> 
    <li style="text-align:center; padding-top: 20px; padding-bottom: 10px; font-size:30px;">
        DataSafe
    </li>
    <li>
        <a href="{% url 'home' %}">Home</a>
    </li>
    <li>
        <a href="{% url 'intro' %}">Creating a data card</a>
    </li>
    <li>
        <a href="{% url 'account' %}">Account</a>
    </li>
    <li>
        <a class="active" href="{% url 'browse' %}">Information</a>
    </li>
    <li>
        <a href="{% url 'saved' %}">Saved Cards</a>
    </li>
    {% if request.user.is_authenticated %}
    <li>
        <a id="logoutButton" href="#">Logout</a>
    </li>
</div>
    <form id="logoutForm" method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" style="display: none;"></button>
    </form>
    {% else %}
        <li>
            <a id="loginButton" href="{% url 'login' %}">Login</a>
        </li>
    </div>
    {% endif %}
<div style="margin-left: 30%; margin-bottom: 20px; margin-right: 15%;">
    <div style=" width: 400px; z-index: 1; padding-bottom: 20px;">
        <h2 style="font-size: 30px; font-family:'Inria Sans'">
            Good practice with data in AI
        </h2>
    </div>

    <div  style="position: relative; top: -40px; padding-bottom: 40px;">
         <h4>This page aims to cover some of the do's and don'ts when working with data and AI. We hope this guidance can assist you to think differently about how important data is in contributing to AI systems and by working on your skills with AI and data how we can make the world a better place.</h4>
    </div>
</div>

<div id="infodiv">
    <div class="infoSections" style="position: relative;margin-top: -100px;">
        <h2 style="margin: 10px; font-family:'Inria Sans'">Ethics in AI:</h2>
        <p style="margin: 15px;">
            Ethics in AI holds profound importance in shaping the ethical and societal implications of artificial intelligence. Ensuring AI aligns with moral principles and human values is paramount to mitigate potential biases and harms. Ethical considerations promote transparency, accountability, and fairness in AI systems, fostering trust and ensuring responsible use of technology. Moreover, ethical guidelines safeguard privacy and data protection, addressing concerns about the collection and use of personal information. By integrating ethical principles into the development and deployment of AI, we can create a more equitable, inclusive, and ethically grounded technological landscape. Ultimately, ethics in AI is pivotal in guiding the responsible development of technology to serve humanity's best interests while upholding fundamental rights and values.
        </p>
        <h2 style="margin: 10px; font-family: 'Inria Sans';">Considerations For Users:</h2>
        <p style="margin: 15px;">
            Users of DataSafe can contribute to this worldwide effort of pushing the importance of ethical procatice in AI. This is why it is pivotal that the effort put in to answering questions on the data card creation guide must be carefully considered and reflect the true values of the creators. By creating this additional documentation for your dataset, we all take one step forwards towards the worldwide benefits AI can bring. 
        </p>
    </div>

    <div class="infoSections">
        <h2 style="margin: 10px; font-family:'Inria Sans'">Following Good Practice:</h2>
        <p style="margin: 15px;">
            In the realm of artificial intelligence (AI), adhering to good practices and ethical principles is paramount. Good practice ensures the development and deployment of AI systems that are reliable, robust, and trustworthy. By following ethical guidelines, developers prioritize fairness, transparency, and accountability in AI applications. This not only safeguards against unintended biases and discriminatory outcomes but also fosters user trust and confidence in AI technologies. Moreover, ethical AI practices promote responsible innovation, ensuring that technology is used for the betterment of society while upholding fundamental human values and rights. Ultimately, prioritizing good practice and ethical considerations in AI development paves the way for a more equitable, inclusive, and ethically grounded technological landscape.
        </p>
        <h2 style="margin: 10px; font-family:'Inria Sans'">Datacards To Your Advantage:</h2>
        <p style="margin: 15px;">
            DataSafe introduces data cards to enhance ethical awareness in AI development, promoting early consideration of data quality. By highlighting the significance of data in AI, it improves fairness, accuracy, and predictability of models. Data examination tools streamline system evaluation, boosting confidence in results and expediting model development by minimizing troubleshooting. Additionally, DataSafe offers a searchable dataset library with accompanying data cards, aiding developers in selecting suitable datasets for their applications and providing documentation on dataset usage. With features like automatic data insights, DataSafe aims to be the most comprehensive data card creation tool, setting it apart from existing alternatives. These efforts underscore DataSafe's commitment to ethical AI development and its role in advancing responsible AI practices.
        </p>
    </div>
</div>
<div class="footer" style="font-family: 'Inria Sans'; position: relative;">
    <a><u>Contact us:</u> <br> datasafecontact@gmail.com <br> s1949505@ed.ac.uk </a>
    <a><u>Want to know more?</u> <br> Check out our Information Page!</a>
    <a><u>Other useful resources:</u> <br> <a href="https://dl.acm.org/doi/10.1145/2090236.2090255">Check out this paper about awareness of bias in AI!</a></a>
</div>

</body>
</html>
