{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="Author" content="Calvin Condie">
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Inria Sans' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet'>
        <script src="{% static 'script.js' %}"></script>
    </head>
<body>

    <div class="sidenav" style="z-index: 1;"> 
        <li style="text-align:center; padding-top: 20px; padding-bottom: 10px; font-size:30px;">
            DataSafe
        </li>
        <li>
            <a class="active" href="{% url 'home' %}">Home</a>
        </li>
        <li>
            <a href="{% url 'intro' %}">Creating a data card</a>
        </li>
        <li>
            <a href="{% url 'account' %}">Account</a>
        </li>
        <li>
            <a href="{% url 'browse' %}">Information</a>
        </li>
        <li>
            <a href="{% url 'saved' %}">Saved Cards</a>
        </li>
        {% if request.user.is_authenticated %}
    <li>
        <a id="logoutButton" href="#">Logout</a>
    </li>
</div>
    <form id="logoutForm" method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" style="display: none;"></button>
    </form>
    {% else %}
        <li>
            <a id="loginButton" href="{% url 'login' %}">Login</a>
        </li>
    </div>
    {% endif %}

    <div id="displayInfo">
        <h3> display here </h3>
    </div>
    
    <div class="footer" style="font-family: 'Inria Sans'; position:relative">
        <a><u>Contact us:</u> <br> datasafecontact@gmail.com <br> s1949505@ed.ac.uk </a>
        <a><u>Want to know more?</u> <br> Check out our Information Page!</a>
        <a><u>Other useful resources:</u> <br> <a href="https://dl.acm.org/doi/10.1145/2090236.2090255">Check out this paper about awareness of bias in AI!</a></a>
    </div>
</body>
</html>
