{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="Author" content="Calvin Condie">
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Inria Sans' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet'>
        <script src="{% static 'script.js' %}"></script>
    </head>
<body>

    <h1>All Saved Data</h1>
    <ul id="allSavedDataList"></ul>

    <script src="{% static 'script.js' %}"></script>
    <script>
    // Load and display all saved data from the library
    window.onload = function () {
    // Parse library from local storage
    var userSavedCards = JSON.parse(localStorage.getItem('userSavedCards')) || [];
    console.log('userSavedCards:', userSavedCards);

    
    // Get the allSavedDataList element
    var allSavedDataList = document.getElementById('allSavedDataList');

    // Loop through library items and create links
    for (var i = 0; i < userSavedCards.length; i++) {
        var identifier = userSavedCards[i];
        var storageKey = 'data_' + identifier;
        var datasetName = localStorage.getItem(storageKey + '_DatasetName');
        var user = localStorage.getItem(storageKey + '_user');
        console.log(user)

        // Create list item and link
        var listItem = document.createElement('li');
        var link = document.createElement('a');
        link.href = 'complete.html?identifier=' + encodeURIComponent(identifier);
        link.textContent = userSavedCards;

        // Append link to list item and list item to the allSavedDataList
        listItem.appendChild(link);
        allSavedDataList.appendChild(listItem);
    }
};
    </script>
</body>
</html>