{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="Author" content="Calvin Condie">
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Inria Sans' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet'>
        <script src="{% static 'script.js' %}"></script>
    </head>
<body>
    
<div class="sidenav"> 
    <li style="text-align:center; padding-top: 20px; padding-bottom: 10px; font-size:30px;">
        DataSafe
    </li>
    <li>
        <a href="{% url 'home' %}">Home</a>
    </li>
    <li>
        <a href="{% url 'intro' %}">Creating a data card</a>
    </li>
    <li>
        <a href="{% url 'account' %}">Account</a>
    </li>
    <li>
        <a href="{% url 'browse' %}">Information</a>
    </li>
    <li>
        <a class="active" href="{% url 'saved' %}">Saved Cards</a>
    </li>
    <li>
        <a href="{% url 'home' %}">Logout</a>
    </li>
</div>

<div style="position: relative; margin-left: 22%;">
    <h1>All Saved Data</h1>
    <ul id="allSavedDataList"></ul>
</div>

<div class="footer" style="font-family: 'Inria Sans'; position: absolute">
    <a><u>Contact us:</u> <br> datasafecontact@gmail.com <br> DataSafe.twitter </a>
    <a><u>Having Probelems?</u> <br> Find our FAQs here: <br> DataSafeFAQs.com</a>
    <a><u>Other useful links:</u> <br> linktoethicspaper.com <br> otherlink.com</a>
</div>


    <script src="{% static 'script.js' %}"></script>
    <script>
    // Load and display all saved data from the library
    window.onload = function () {
    // Parse library from local storage
    var userSavedCards = JSON.parse(localStorage.getItem('userSavedCards')) || [];
    console.log('userSavedCards:', userSavedCards);

    
    // Get the allSavedDataList element
    var allSavedDataList = document.getElementById('allSavedDataList');

    // Loop through library items and create links
    for (var i = 0; i < userSavedCards.length; i++) {
        var identifier = userSavedCards[i];
        var storageKey = 'data_' + identifier;
        var datasetName = localStorage.getItem(storageKey + '_DatasetName');
        var user = localStorage.getItem(storageKey + '_user');
        console.log(user)

        // Create list item and link
        var listItem = document.createElement('li');
        var link = document.createElement('a');
        link.href = 'complete.html?identifier=' + encodeURIComponent(identifier);
        link.textContent = userSavedCards;

        // Append link to list item and list item to the allSavedDataList
        listItem.appendChild(link);
        allSavedDataList.appendChild(listItem);
    }
};
    </script>
</body>
</html>