{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="Author" content="Calvin Condie">
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Inria Sans' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet'>
        <script>
            //const registerUrl = "{% url 'register' %}";
            //const homeUrl = "{% url 'home' %}";
            //const loginUrl = "{% url 'login_user' %}";

        </script>
        <script src="{% static 'script.js' %}"></script>
       
    </head>
<body>
<h1 style="text-align: center;  color: black; font-size: 34px; font-family: Inter; font-weight: 400; word-wrap: break-word">
    DataSafe
</h1>

<form method="post" action="{% url 'login_user_process' %}">
    {% csrf_token %}

    <div class="loginBox">
        <h2>User Login</h2>
        <div class="entries">
            <input type="text" style="text-align: center;" name="email" id="email" placeholder="Email Address" autofocus>
        </div>
        <br>
        <div class="entries">
            <input type="password" style="text-align: center;" name="password" id="password" placeholder="Password">
        </div>
        <br>
        <div class="pageText">
            <span>Remeber details for automatic login</span>
            <label class="switch">
                <input name="remember_me" id="remeberMeCheckbox" type="checkbox">
                <span class="slider round"></span>
            </label>
        </div>
        <div class="greenButtons">
            <button onclick="return login()">Login</button>
        </div>
        <p style="color: #6D6D6D; text-align:center; font-size:10px;">
            <u>Forgot Password?</u>
        </p>
        <div class="signInVia">
            <p>Sign in with Google</p>
        </div>
        <div class="signInVia">
            <p>Sign in with Apple</p>
        </div>
        <div class="signInVia">
            <p>Sign in with Microsoft</p>
        </div>
        <p style="text-align: center;font-size:10px;">Don't have an account? Create one by clicking the button below:</p>
        <div class="greenButtons">
            <a style="color: black; font-size: small;" href="{% url 'register' %}">Register a new account</a>

        </div>
        <p style="font-size: 10px;">Or simply:</p>
        <div class="greenButtons" style="background-color: lightgray">
            <a style="color: black; font-size: small;" href="{% url 'home' %}">Continue as guest</a>
        </div>
    </div>
</form>

<script>
        function login() {
        var email = document.getElementById("email").value;
        var password = document.getElementById("password").value;
        var rememberMe = document.getElementById("remeberMeCheckbox").checked;

        // AJAX request to submit the form data
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "{% url 'login_user_process' %}", true);
        xhr.setRequestHeader("Content-Type", "application/json");

        xhr.onreadystatechange = function () {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);
                    if (response.status === 'error') {
                        alert(response.message); // Display error message if login fails
                    } else {
                        window.location.href = "{% url 'home' %}"; // Redirect to home page on successful login
                    }
                } else {
                    console.log('Error:', xhr.statusText);
                }
            }
        };

        var data = JSON.stringify({ email: email, password: password });
        xhr.send(data);

        //return false; // Prevent default form submission
    }
</script>
</body>
</html>

