{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="Author" content="Calvin Condie">
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Inria Sans' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet'>
        <script>
            //const registerUrl = "{% url 'register' %}";
            //const homeUrl = "{% url 'home' %}";
            //const loginUrl = "{% url 'login_user' %}";

        </script>
        <script src="{% static 'script.js' %}"></script>
       
    </head>
<body>
<h1 style="text-align: center;  color: black; font-size: 34px; font-family: Inter; font-weight: 400; word-wrap: break-word">
    DataSafe
</h1>

<form method="post" action="{% url 'reset_password' %}">
    {% csrf_token %}
    {% if error %}
            <script>showAlert("{{ error }}");</script>
    {% endif %}

    <div class="loginBox">
        <h2>Password Reset</h2>
        <div class="entries">
            <input type="text" style="text-align: center;" name="email" id="email" placeholder="Email Address" autofocus>
        </div>
        <br>
        <div class="entries">
            <input type="password" style="text-align: center;" name="password" id="password" placeholder="Password">
        </div>
        <br>
        <div class="entries">
            <input type="password" style="text-align: center;" name="password2" id="password2" placeholder="Re-Enter new Password">
        </div>
        <br>
        <div class="greenButtons">
            <button onclick="return reset_password()">Reset Password</button>
        </div>
        <br>
        <p style="font-size: 10px;">Or simply:</p>
        <div class="greenButtons" style="background-color: lightgray">
            <a style="color: black; font-size: small;" href="{% url 'home' %}">Continue as guest</a>
        </div>
    </div>
</form>
<script>
        function showAlert(message) {
            alert(message);
        }

        document.addEventListener('DOMContentLoaded', function() {
        var form = document.querySelector('form');

            form.addEventListener('submit', function(event) {
                event.preventDefault();

                var formData = new FormData(form);

                fetch('/reset_password/', {  
                    method: 'POST',
                    body: formData
                })
                .then(response => {
                    if (response.redirected) {
                        window.location.href = response.url;
                    } else {
                        return response.text();
                    }
                })
                .then(data => {
                    if (data) {
                        alert(data);
                    }
                })
                .catch(error => console.error('Error:', error));
            });
        });
        
</script>
</body>
</html>

